@model MvcMusicStore.Models.Album

@{
    ViewBag.Title = "Album - " + Model.Title;
}

<h2>Album: @Model.Title</h2>
<p>Artist: @Model.Artist.Name</p>
<p>Genre: @Model.Genre.Name</p>
<p>Price: @String.Format("{0:F}",Model.Price)</p>

<p class="button">
    @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.AlbumId }, "")
</p>

